<div class="new-list">

	<!-- New Items -->
	<%= render partial: 'shared/user_item_form' %>
	<!-- New Category -->	
	<%= render 'shared/new_category_form', locals: {category: @category} %>

	<%= form_for @list, url: list_path, html: {class: "form-signin"} do |f| %>
		<!-- Category -->
		<div class="categories">
			<% current_user.categories.each do |category| %>
				<h3 class="category">
				  <%= category.name %>
				</h3>
				<!-- User Items -->   
				<div class="dropdown-button" data-toggle="collapse" data-target="#<%= category.name_without_spaces %>">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</div>
				<!-- Dropdown div -->
			 	<div id="<%= category.name_without_spaces %>" class="collapse">
			 		<div class="table-responsive">
			 			<!-- User Item table -->
					 		<table class='items' id='append<%= category.id %>'>
					 			<tr>
					 				<th>Add</th>
					 				<th>Name</th>
					 				<th>Price</th>
					 				<th>Qnty</th>
					 				<th>Edit</th>
					 				<th>Remove</th>
					 			</tr>
						   	<% category.user_items.each do |item| %>
						   		<% if item.included? %> <!--possibly filter this out in controller -->
						   			<tr id="item-row-<%=item.id%>"><%= render('shared/list_item_form', item: item, list: @list, f: f) %></tr>
						   		<% end %>
						  	<% end %>
						  </table>
					</div>
				</div>
			<% end %> <!-- current_user.categories -->
			<br>
			<div class='create-list'>
				<%= f.text_field :name, placeholder: "Name your list (optional)" %>
				<%= f.submit "Create List" %>
			</div>
		</div>
	<% end %>
</div>
<!-- dropdown button script -->
<script>
  $(document).ready(function () {
      $('.data-toggle').collapse();
  });
</script>