<%= form_for list do |f| %>
	<%= f.fields_for l = list.list_items.build, index: l.id do |list_item| %>
	<!--hidden field containing user_item_id, checked determines if sent or not OR if processed or not... -->
		 	<td><%= list_item.check_box :user_item_id, { checked: false }, item.id, "nil" %></td>
			<td><%= item.name %></td> 
			<td>$<%= number_with_precision(item.price, :precision => 2) %></td>
			<td><%= list_item.number_field :quantity, 
																		 	min: 1,
																		 	class: "num"%></td>
	<% end %>
<% end %>