$(document).ready(function () {
  addCategory();
});

function addCategory(){
	var lastCategory = '<%= current_user.categories[-2].name_without_spaces %>';
	console.log(lastCategory);
	$('#' + lastCategory).after("<h3 class='category'><%= @category.name %></h3>\
																<div class='dropdown-button' data-toggle='collapse' data-target='#<%= @category.name_without_spaces %>'>\
																	<span class='glyphicon glyphicon-chevron-down'></span>\
																</div>\
																<div id='<%= @category.name_without_spaces %>' class='collapse'>\
																	<div id='append<%= @category.id %>'></div>\
																	PLACEHOLDER FOR NEW CATEGORY\
																</div>");
}


									