$(document).ready(function () {
  addCategory();
});

function addCategory(){
	var lastCategory = '<%= current_user.categories[-2].name %>';
	console.log(lastCategory);
	$('#' + lastCategory).after("<h3 class='category'><%= @category.name %></h3>\
															<div class='dropdown-button' data-toggle='collapse' data-target='#<%= @category.name %>'>\
																<span class='glyphicon glyphicon-chevron-down'></span>\
															</div>\
															<div id='<%= @category.name %>' class='collapse'>\
																<h4>Create a new item here:</h4>\
																<div id='append<%= @category.id %>'></div>\
																<%= link_to 'Home', root_url %>\
															</div>");
}


									