$(document).ready(function () {
  addCategory();
});

function addCategory(){
	var lastCategory = '<%= current_user.categories[-2].name_without_spaces %>';
	console.log(lastCategory);
	$('#' + lastCategory).after("<h3 class='category'><%= @category.name %></h3>\
															<div class='dropdown-button' data-toggle='collapse' data-target='#<%= @category.name_without_spaces %>'>\
																<span class='glyphicon glyphicon-chevron-down'></span>\
															</div>\
															<div id='<%= @category.name_without_spaces %>' class='collapse'>\
																<h4>Create a new item here:</h4>\
																<div id='append<%= @category.id %>'></div>\
																<%= j link_to 'Add Another New Item', new_list_path(:category_id => @category.id), remote: true %>\
															</div>");
}


									