<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" role="presentation">
				<%= link_to "New List", new_list_path %>
			</li>
			<li role="presentation">
				<%= link_to "My Items", '#' %>
			</li>
			<% if logged_in? %>
				<li role="presentation">
					<%= link_to "My Lists", lists_path %>
				</li>
				<li role="presentation">
					<%= link_to "Sign Out", logout_path, method: :delete %>
				</li>
			<% else %>
				<li role="presentation">
					<%= link_to "Sign In", login_path %>
				</li>
			<% end %>
		</ul>
	</nav>
	<a href=<%=root_url%>><h3 class="text-muted">Grocery App</h3></a>
</div>
